body {
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;

    background-color: rgb(237, 237, 237)
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: aliceblue;
    height: 15vh;
    align-items: center;
    padding: 0px 50px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);

}

.banner {
    flex: 2;
    font-size: 2rem;
    font-weight: 500;
    padding: 3vh;

}

.nav-links {
    width: fit-content;
    border: none;
    padding: 20px;
    border-radius: 50%;
    background-color: rgb(219, 238, 255);
    transition: background-color 0.2s ease;
    margin-left: 10px;
}

.nav-links:hover {
    background-color: rgb(177, 218, 255);
    cursor: pointer;
    outline: none;
}

.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    padding-top: 150px;
    /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, .4);
    /* Black w/ opacity */

}

.modal-content-form {
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    align-items: center;
    margin: auto;
    font-size: larger;
    width: fit-content;
    height: fit-content;
    padding: 40px;
    padding-top: 20px;
    background-color: aliceblue;
    border-radius: 5px;
}

/* The Close Button */
.top {
    height: fit-content;
    margin-bottom: 20px;
    color: #464646;
    font-size: 1.3em;
    font-weight: 500;
    padding-top: 10px;
}

input {
    margin: 10px;
    width: 90%;
    height: 30px;
    border-radius: 10px;
    padding: 10px;
    border: none;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.06);
    font-size: 1.1em;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}

input::placeholder {
    color: #aaaaaa;
}

input:focus {
    border: none;
}

input[type="checkbox"] {
    width: 20px;
    height: 20px;
    box-shadow: none;
}

input[type="checkbox"]:hover {
    cursor: pointer;
}

.readStatusBar {
    /* removing shadow form the check box */
    font-size: 1.1em;
    font-weight: 500;
    color: #272727;
}

button {
    margin-top: 10px;
    padding: 15px;
    font-size: 1.2rem;
    text-transform: capitalize;
    width: 95%;
    background-color: rgb(219, 238, 255);
    border: none;
    border-radius: 10px;
    font-family: 'Montserrat', sans-serif;
    color: #0d0c0c;
    transition: background-color 0.2s ease;
    font-weight: 700;
}

button:hover {
    cursor: pointer;
    background-color: rgb(177, 218, 255);
}

.library-container {
    width: 95%;
    display: flex;
    flex-direction: row;
    justify-content: left;
    margin: auto;
    /* margin-top: 5vh; */
    flex-wrap: wrap;
}
.bookDisplay {
    /* display: none; */
    display: flex;
    flex-direction: column;
    min-width: 21vw;
    width: 21vw;
    /* height: fit-content; */
    height: 45vh;
    border-radius: 10px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
    margin: 5vh;
    padding: 20px 30px;
    align-items: center;
    justify-content: space-between;
    background-color: white
}

.info {
    width: 90%;
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    text-align: center;
    word-wrap: break-word;

}

.bk-name {
    flex: 3;
}

.author-name {
    font-size: 0.9em;
    font-weight: 400;
}

.utility-btns {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    margin-top: 30px;
}

.utility-btns>button {
    width: 100%;
}